.messageContainer {
  justify-content: flex-start;
  margin-top: 3px;
  padding: 5px 10px 0;
}

.messageSentBy {
  background: #79C7C5;
  border-radius: 20px;
  padding: 9px 14px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageSentBy.colored {
  background-color: #989898;
}

.sentMessage {
  padding: 7px 11px 4px;
  margin: 0;
  font-size: 12px;
}

.reverse {
  text-align: right;
}


.messageBox img {
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

.messageBox {
  width: 100%; 
  font-size: 13px;
  margin: 0;
  text-align: left;
}