.messageContainer {
  display: flex;
  justify-content: flex-start;
  /* padding: 0 5%; */
  margin-top: 3px;
}

.messageBox {
  background: teal;
  border-radius: 20px;
  padding: 8px 16px;
  color: white;
  display: inline-block;
  max-width: 80%;
  margin: 0 10px;
}

.justifyStart {
  justify-content: flex-start;
}
  
/* .justifyEnd {
  justify-content: flex-end;
} */

.sentMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-10 {
  padding-left: 10px;
}
  
.pr-10 {
  padding-right: 10px;
}

.justifyReverse {
  flex-direction: row-reverse;
}

.messageBox.colored {
  background-color: #bfb5b5;
}

.messageImg img {
  max-height: 150px;
  display: block;
  margin: 0 auto;
}