.messages {
  padding: 10px 0;
  overflow: auto;
  flex: auto;
}

.messageContainer {
  display: flex;
  justify-content: flex-start;
  /* padding: 0 5%; */
  margin-top: 3px;
}

.messageBox {
  background: teal;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
  margin: 0 10px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.sentMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

