#root {
  height: 100vh;
}

.loginContainer {
  display: grid;
  place-items: center;
  height: 100vh;
}

.loginInnerContaier {
  min-width: 20%;
  width: 300px;
  margin: 0 auto;
}

.loginInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  margin-top: 15px;
}

.heading {
  text-align: center;
  font-size: 34px;
  border-bottom: 1px solid rgba(255,255,255,.6);
  padding-bottom: 15px;
  font-weight: 400;
  margin-top: 0;
}

.button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #79C7C5;
  padding: 4px 10px;
  border-radius: 4px;
  display: inline-block;
  border: none;
  width: 100%;
  margin-top: 20px;
  font: 14px 'Roboto', sans-serif;
  height: 42px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .loginContainer {
    height: 100%;
  }

  .loginInnerContainer {
    width: 90%;
  }

}

button:focus {
  outline: 0;
}